@model PhotoBook.Models.MainPageModel
@{
    ViewBag.Title = "Welcome to PhotoBook!";
}
<div class="col-md-10">
    @Html.Partial("~/Views/Shared/_PopularPhotos.cshtml", Model.PopularPhotos)
</div>
<div id="tags" class="col-md-2">
    @Html.Partial("~/Views/Shared/_TagCloud.cshtml", Model.TagCloud)
</div>

