@model PagedList.IPagedList<PhotoBook.Entities.Photo>
@using PagedList.Mvc

@{
    ViewBag.Title = "Photos";
}
<div class="page-header center">
  <h1>@ViewBag.Title
      @if (Model.Count > 0)
      {
        @:&nbsp;<small>@Html.ActionLink("View as a slideshow", "Slideshow", "Photo", new { type = "user", id = ViewBag.UserID}, null)</small>
      }
  </h1>
</div>

@if (Model.Count > 0)
{
    Html.RenderPartial("~/Views/Shared/_PhotoList.cshtml", Model);
}
else
{
    <h3 class="center">No photos found.</h3>
}
@Html.PagedListPager(Model
                    , page => Url.Action("Photos"
                    , new RouteValueDictionary {{"id", ViewBag.UserID}, {"page", page }})
                    , PagedListRenderOptions.PageNumbersOnly)

