@model PagedList.IPagedList<PhotoBook.Entities.Photo>
@using PagedList.Mvc

@{
    ViewBag.Title = "Photos";
}
<div class="page-header center">
  <h1>@ViewBag.Title
      @if (Model.Count > 0)
      {
        @:&nbsp;<small>@Html.ActionLink("View as a slideshow", "Slideshow", "Photo", new { type = "popular"}, null)</small>
      }
  </h1>
</div>

@{ Html.RenderPartial("~/Views/Shared/_PhotoList.cshtml", Model); }
@Html.PagedListPager(Model
                    , page => Url.Action("Photos"
                    , new RouteValueDictionary {{"id", ViewBag.UserID}, {"page", page }})
                    , PagedListRenderOptions.PageNumbersOnly)

