@{
    ViewBag.Title = "Registration Completed";
}

<h1>Registration Completed</h1>
<h2>You have completed the registration process. You can now logon to the system by clicking on the logon link.</h2>