@{
    ViewBag.Title = "Registration Completed";
}

<h1>Registration Completed</h1>
<h2>You have completed the registration process. 
    You can now log in to the system by clicking on the @Html.ActionLink("log in link", "Login", "Account").</h2>