@model IEnumerable<PhotoBook.Entities.Tag>

<div class="page-header center">
    <h1>Tags</h1>
</div>
@foreach (var t in Model )
{
    int count = 1;
    if (t.Photos != null) 
    {
        count = t.Photos.Count;
    }
    @Html.ActionLink(t.Name, "Index", "Tag", new { id = t.ID }, new { @class = PhotoBook.Services.TagService.GetTagClass(count, ViewBag.TotalPhotosCount)})
    @:&nbsp;
}
